.body-container {
    width: 1304px;
    height: 984px;
    max-width: 1304px;
    max-height: 984px;
}

.container {
    width: 1304px;
    height: 984px;
    max-width: 1304px;
    max-height: 984px;
    outline: 1px solid black;
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25px 300px 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "block-meta block-meta block-meta block-meta"
        "block-calendar block-calendar block-air block-air"
        "block-ten-day block-ten-day block-ten-day block-solar"
        "today-weather-curve today-weather-curve today-weather-curve block-remote";
}

.header {
    border-bottom: 5px dotted black;
    margin: 0 2rem;
    color: hsl(0deg 0% 50%);
}

.block-meta {
    grid-area: block-meta;
}

.block-calendar {
    grid-area: block-calendar;
}

.block-air {
    grid-area: block-air;
}

.block-ten-day {
    grid-area: block-ten-day;
}

.block-solar {
    grid-area: block-solar;
}

.today-weather-curve {
    grid-area: today-weather-curve;
}

.highcharts-figure {
    margin: 0;
}